<div
  class="flex flex-col items-center justify-center h-screen bg-gray-900 text-white px-4"
>
  <h1 class="text-8xl font-extralight tracking-wide">404</h1>
  <p class="text-2xl mt-2 text-gray-400">Oops! Page not found.</p>
  <p class="text-md text-gray-400 mt-1">
    The page you're looking for doesn't exist of has been moved.
  </p>
  <a
    href="/home"
    class="mt-6 px-6 py-3 text-lg bg-blue-500 rounded-lg hover:bg-blue-600 transition shadow-lg"
    >Take me Home</a
  >
  <div class="mt-8 flex items-center gap-4">
    <a href="/help" class="text-gray-400 hover:text-white transition"
      >Need help?</a
    >
    <span class="h-4 w=[1px] bg-grap-600"></span>
    <a href="/contact" class="text-gray-400 hover:text-white transition"
      >Contact Support</a
    >
  </div>
</div>
