<div class="bg-gray-800 border-t border-gray-600">
  <ul class="flex">
    <li class="list-none inline-block mx-4 py-1.5 h-10 relative group">
      <a
        href="#"
        class="text-white text-sm font-bold no-underline relative pb=0.5"
        >Men
        <span
          class="absolute left-0 bottom-0 w-0 h-[2px] bg-red-500 transition-all group-hover:w-full"
        ></span
      ></a>
    </li>
    <li class="list-none inline-block mx-4 py-1.5 h-10 relative group">
      <a
        href="#"
        class="text-white text-sm font-bold no-underline relative pb=0.5"
        >Women
        <span
          class="absolute left-0 bottom-0 w-0 h-[2px] bg-red-500 transition-all group-hover:w-full"
        ></span
      ></a>
    </li>
    <li class="list-none inline-block mx-4 py-1.5 h-10 relative group">
      <a
        href="#"
        class="text-white text-sm font-bold no-underline relative pb=0.5"
        >Kids
        <span
          class="absolute left-0 bottom-0 w-0 h-[2px] bg-red-500 transition-all group-hover:w-full"
        ></span
      ></a>
    </li>
    <li class="list-none inline-block mx-4 py-1.5 h-10 relative group">
      <a
        href="#"
        class="text-white text-sm font-bold no-underline relative pb=0.5"
        >Best Offers
        <span
          class="absolute left-0 bottom-0 w-0 h-[2px] bg-red-500 transition-all group-hover:w-full"
        ></span
      ></a>
    </li>
  </ul>
</div>
